<form novalidate name="form">
    <div class="weui_cells_title">待认证用户</div>
    <div class="weui_cells weui_cells_radio">
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">待认证用户</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="userId" ng-model="formData.user" ng-options="user.name for user in users track by user.id" required></select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">区域</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="region" ng-model="formData.region" ng-options="region.name for region in regions track by region.id" required></select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after" ng-if="formData.region">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">楼栋</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="building" ng-model="formData.building" ng-options="building.name for building in formData.region.buildings track by building.id" required></select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after" ng-if="formData.building && formData.region.id === 2">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">单元</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="unit" ng-model="formData.unit" ng-options="unit.name for unit in formData.building.units track by unit.id" required></select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after" ng-if="formData.unit">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">门牌号</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="houseNumber" ng-model="formData.houseNumber" ng-options="houseNumber.name for houseNumber in formData.unit.houseNumbers track by houseNumber.id" required></select>
            </div>
        </div>
    </div>
    <div class="weui_cells_tips">若信息不正确，请在微信群内反馈</div>
    <div class="weui_btn_area" ng-if="form.$valid">
        <button class="weui_btn weui_btn_primary" type="button" ng-click="bind(resident)" ng-repeat="resident in residents track by resident.id" ng-if="!resident.userId">认证为{{resident.name}}</button>
        <a href="#/users/new?userId={{formData.user.id}}&roomId={{room.id}}" class="weui_btn weui_btn_default" ng-if="user.roles['筹备组']">登记新业主</a>
    </div>
</form>
