<div ng-if="!ctrl.user.resident.id">
    <form name="form" novalidate ng-submit="ctrl.submit()">
        <div ng-if="ctrl.step === 'basicInfo'">
            <div class="weui_cells_title">个人信息</div>
            <div class="weui_cells weui_cells_radio">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label" for="name">姓名</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="text" required name="name" ng-model="ctrl.user.resident.name" id="name">
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label" for="mobilePhone">手机号</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" type="tel" ng-pattern="/\d{11}/" name="mobilePhone" ng-model="ctrl.user.resident.mobilePhone" id="mobilePhone">
                    </div>
                </div>

                <region ng-model="ctrl.user.room.region"></region>
                <building region="ctrl.user.room.region" ng-model="ctrl.user.room.building"></building>
                <unit region="ctrl.user.room.region" building="ctrl.user.room.building" ng-model="ctrl.user.room.unit"></unit>
                <house-number region="ctrl.user.room.region" building="ctrl.user.room.building" unit="ctrl.user.room.unit" ng-model="ctrl.user.room.houseNumber"></house-number>
            </div>
            <div class="weui_cells_tips" ng-if="!ctrl.formError">个人信息仅为核实业主身份使用，以上信息不公开。</div>
            <div class="weui_cells_tips" ng-if="ctrl.formError" style="color: red">{{ctrl.formError}}</div>

            <div class="weui_btn_area">
                <button class="weui_btn weui_btn_primary" type="submit" ng-disabled="!form.$valid" ng-class="{weui_btn_disabled: !form.$valid}" ng-click="ctrl.step = 'verifyPhone'">下一步</button>
            </div>
        </div>
        <div ng-if="ctrl.step === 'verifyPhone'">
            <verify-phone phone="ctrl.user.resident.mobilePhone" on-submit="ctrl.submit(verifyCode)"></verify-phone>
        </div>
    </form>
</div>
